milvus/volumes/etcd/member/snap/db
milvus/volumes/etcd/member/wal/0000000000000000-0000000000000000.wal
milvus/volumes/milvus/rdb_data/000005.log
milvus/volumes/milvus/rdb_data/000012.log
milvus/volumes/milvus/rdb_data/CURRENT
milvus/volumes/milvus/rdb_data/IDENTITY
milvus/volumes/milvus/rdb_data/LOCK
milvus/volumes/milvus/rdb_data/LOG
milvus/volumes/milvus/rdb_data/LOG.old.1759897275528224
milvus/volumes/milvus/rdb_data/MANIFEST-000011
milvus/volumes/milvus/rdb_data/OPTIONS-000009
milvus/volumes/milvus/rdb_data/OPTIONS-000014
milvus/volumes/milvus/rdb_data_meta_kv/000009.sst
milvus/volumes/milvus/rdb_data_meta_kv/000011.log
milvus/volumes/milvus/rdb_data_meta_kv/CURRENT
milvus/volumes/milvus/rdb_data_meta_kv/IDENTITY
milvus/volumes/milvus/rdb_data_meta_kv/LOCK
milvus/volumes/milvus/rdb_data_meta_kv/LOG
milvus/volumes/milvus/rdb_data_meta_kv/LOG.old.1759897275316606
milvus/volumes/milvus/rdb_data_meta_kv/MANIFEST-000010
milvus/volumes/milvus/rdb_data_meta_kv/OPTIONS-000007
milvus/volumes/milvus/rdb_data_meta_kv/OPTIONS-000013
milvus/volumes/minio/.minio.sys/format.json
milvus/volumes/minio/.minio.sys/buckets/.bloomcycle.bin/xl.meta
milvus/volumes/minio/.minio.sys/buckets/.usage-cache.bin/xl.meta
milvus/volumes/minio/.minio.sys/buckets/.usage.json/xl.meta
milvus/volumes/minio/.minio.sys/buckets/a-bucket/.metadata.bin/xl.meta
milvus/volumes/minio/.minio.sys/buckets/a-bucket/.usage-cache.bin/xl.meta
milvus/volumes/minio/.minio.sys/config/config.json/xl.meta
milvus/volumes/minio/.minio.sys/config/iam/format.json/xl.meta
milvus/volumes/minio/.minio.sys/pool.bin/xl.meta
